.CardFace
  position relative

  width 320px
  height 500px

  // background-color #c91a1e
  // background-image linear-gradient(30deg, rgba(87, 7, 7, 0.9) 0%, rgba(87, 7, 7, 0.9) 5%, rgba(245, 69, 63, 0.9) 30%, rgba(186, 15, 9, 0.9) 55%, rgba(186, 15, 9, 0.9) 60%, rgba(186, 15, 9, 0.9) 65%, rgba(243, 28, 20, 0.9) 80%, rgba(87, 7, 7, 0.9) 95%, rgba(87, 7, 7, 0.9) 100%)
  // background-image linear-gradient(30deg, #570707 0%, #570707 5%, #f5453f 30%, #ba0f09 55%, #ba0f09 60%, #ba0f09 65%, #f31c14 80%, #570707 95%, #570707 100%)

  border-radius 80px

  // box-shadow 2px 2px 4px #0f0f0f

.CardFill
  position absolute
  top 8px
  right 8px
  bottom 8px
  left 8px

  width 304px
  height 484px

  background-color #0f0f0f

  border-radius 72px

  overflow hidden

  .CardArt &
    position static
    top auto
    right auto
    bottom auto
    left auto

    width 304px
    height 484px
  
    background-color transparent
    background-image linear-gradient(to bottom, rgba(15, 15, 15, 1) 0px, rgba(15, 15, 15, 1) 38px, rgba(15, 15, 15, 0) 56px, rgba(15, 15, 15, 0) 260px, rgba(15, 15, 15, 1) 278px, rgba(15, 15, 15, 1) 484px)

.CardDetails
  position absolute
  top 8px
  right 8px
  bottom 8px
  left 8px

  display flex

  flex-direction column

.CardName
  margin 0 auto 240px

  width 192px
  height 38px

  font-size 27px

  line-height 37px

  text-align center

  border-bottom 1px solid currentColor



// MainCard

.CardArt
  position absolute
  top 8px
  right 8px
  bottom 8px
  left 8px

  width 304px
  height 484px

  background-color #0f0f0f
  background-position 50% 38px
  background-size auto 240px
  background-repeat no-repeat

  border-radius 72px

  overflow hidden

.CardStatsContainer
  position relative

.CardStatsSeparators
  position absolute

  top 0
  left 0

  width 100%

  .CardAttributes, .CardMove
    margin 0 auto

    width 240px

    border-top 1px solid currentColor

  .CardAttributes
    height 53px

  .CardMove
    height 51px

    &:last-child
      width 224px

.CardStats
  position relative

.CardAttributes, .CardMove
  display flex

  align-items center

  padding 1px 16px 0

  width 100%

.CardClass
  flex 0 0 auto 

  width 36px
  height 36px

  background-color currentColor

  border-radius 50%

.CardAttributeSpacer, .CardMoveSpacer
  flex 1 1 auto

  padding 0 8px

  width 100%
  height 1px

  background-clip content-box
  background-color currentColor

  opacity 0.3333

.CardAttributes
  height 53px

  font-size 27px

.CardMove
  height 51px
  
  font-size 21px

  &:nth-last-child(2)
    padding 1px 28px 0
  
  &:last-child
    padding 1px 40px 0

.CardMoveName
  flex 0 1 auto

  span
    display inline-block

    white-space nowrap

.CardMoveValue
  flex 0 1 auto



// NotesCard

.CardName
  .Notes &
    margin-bottom 0

.CardNotesContainer
  display flex

  flex 1 0 auto

  flex-direction column

  .CardNotesSeparators
    position absolute

    top 0
    right 0
    bottom 0
    left 0

    flex 1 0 auto

    .CardTraits
      position absolute
      bottom 0
      left 0

      margin 0 72px

      width 160px
      height 26px

      border-top 1px solid currentColor

  .CardNotes
    display flex

    flex 1 0 auto

    flex-direction column

  .CardNote
    display flex

    flex 1 0 auto

    flex-direction column

    padding 0 16px

    width 100%

  .CardNoteName
    display flex

    flex 0 0 auto

    align-items center
    justify-content center

    height 38px

    font-size 21px

  .CardNoteDesc
    flex 1 0 auto

    font-family Calibri, Arial, Helvetica, sans-serif
    font-size 16px

    text-align justify
    text-align-last center

  .CardTraits
    display flex

    flex 0 0 26px

    align-items center 
    justify-content center

    height 26px



// D-Factor Card Face

.CardName
  .DFactor &
    margin-bottom 0

.CardDFactorContainer, .CardDFactor
  display flex

  flex 1 0 auto

  flex-direction column

.CardDFactor
  padding 16px

.CardDFactorLead
  display flex

  flex 0 0 auto

  align-items center
  justify-content center
  flex-direction column

  height 160px

.CardDFactorHeading
  margin-bottom -2px

  font-family "Street Gathering", Arial, Helvetica, sans-serif
  font-size 56px

  line-height 1

  text-align center
  text-transform uppercase

.CardDFactorTitle
  font-size 24px

  line-height 1

  text-align center

.CardDFactorType
  margin-bottom 2px

  font-family "Street Gathering", Arial, Helvetica, sans-serif
  font-size 30px

  line-height 1

  letter-spacing 2px

  text-align center
  text-transform uppercase

.CardDFactorDesc
  flex 1 0 auto

  font-family Calibri, Arial, Helvetica, sans-serif
  font-size 20px

  text-align justify
  text-align-last center



// Types Card Face
