.CardName
  .Types &
    margin-bottom 0

.CardTypesContainer, .CardTypes
  display flex

  flex 1 0 auto

  flex-direction column

.CardMoveTypesHeading, .CardResistancesHeading
  display flex

  flex 0 0 auto

  align-items center
  justify-content center

  margin 20px 0 0
  padding 0 16px

  height 48px

  font-size 21px

.CardMoveTypes, .CardResistances
  display flex

  flex-wrap wrap

  padding 0 8px

.CardMoveTypeCol, .CardResistanceCol
  flex 0 0 auto

  padding 0 8px

.CardMoveType, .CardResistance
  margin-bottom 16px

  width 56px
  height 56px

  border 2px solid currentColor
  border-radius 8px

  &:last-child
    margin-bottom 0
