.CardFace
  position relative

  width 320px
  height 500px

  background-color #efefef
  background-image none

  border-radius 80px

  color #efefef

  user-select none

  backface-visibility hidden

.CardDetails
  position absolute
  top 8px
  right 8px
  bottom 8px
  left 8px

  display flex

  flex-direction column

.CardName
  margin 0 auto 240px

  width 192px
  height 38px

  font-size 27px

  line-height 37px

  text-align center

  border-bottom 1px solid currentColor
