.CardFill
  width 304px
  height 484px

  border-radius 72px

  overflow hidden

  &--Solid
    position absolute
    top 8px
    right 8px
    bottom 8px
    left 8px

    background-color #0f0f0f

  &--HasArt
    position static
    top auto
    right auto
    bottom auto
    left auto
  
    background-image linear-gradient(to bottom, #0f0f0fff 0px, #0f0f0fff 38px, #0f0f0f00 56px, #0f0f0f00 260px, #0f0f0fff 278px, #0f0f0fff 484px)
