.NavLink
  position relative

  display flex
  
  align-items center
  justify-content center

  padding 0 16px
  
  height 64px
  
  background-color #3f3f3f
  
  border-color #3f3f3f
  border-style solid
  border-width 4px 0
  
  font-size 28px

  // text-transform uppercase

  transition color 0.3333s, border-bottom-color 0.3333s
  
  cursor pointer
  
  .SubNavMenu &
    height 48px
    
    background-color #1f1f1f
    
    border-color #1f1f1f
    
    font-size 20px
  
  &.active
    color #ef8f1f
    
    border-bottom-color #ef8f1f

    cursor default

  &.toggle
    padding 0 64px

  .NavLinkContent
    position relative

  .NavLinkHover
    position absolute
    top -4px
    right 0
    bottom -4px
    left 0

    opacity 0
    
    background-color rgba(55, 55, 55, 0.5)
    background-image linear-gradient(to top, rgba(239, 143, 31, 0.25) 0%, rgba(239, 143, 31, 0) 66.6667%, rgba(239, 143, 31, 0) 100%)

    transition opacity 0.3333s

  &.hover
    &:hover
      .NavLinkHover
        opacity 1
    
.NavToggleIcon
  position absolute
  top -4px
  right 0

  width 64px
  height 64px

  cursor pointer

  &:before, &:after
    content "-"
    
    position absolute
    top 8px
    right 8px
    bottom 8px
    left 8px
    
    display flex

    align-items center
    justify-content center

    color #ef8f1f

    font-family inherit
    font-size 48px
    line-height 1

    transform-origin 50% 50%
    transform rotateZ(0) scale(1, 0.6667)

    transition opacity 0s, transform 0.3333s

  &:after
    transform rotateZ(-90deg) scale(1, 0.6667)
  
  &.open
    &:after
      opacity 0
      
      transform rotateZ(0) scale(1, 0.6667)

      transition opacity 0s 0.3333s, transform 0.3333s
