.NavLink
  display flex
  
  align-items center
  justify-content center
  
  height 64px
  
  background-color #3f3f3f
  
  border-color #3f3f3f
  border-style solid
  border-width 4px 0
  
  font-size 28px

  // text-transform uppercase

  transition color 0.25s, border-bottom-color 0.25s
  
  cursor pointer
  
  .SubNavMenu &
    height 48px
    
    background-color #1f1f1f
    
    border-color #1f1f1f
    
    font-size 20px
  
  &.active
    color #ef8f1f
    
    border-bottom-color #ef8f1f
    