@font-face 
  font-family "Granite"
  src url(/fonts/granite.woff2?#iefix) format("woff2"),
      url(/fonts/granite.woff) format("woff"),
      url(/fonts/granite.ttf) format("truetype")
  font-style normal
  font-weight 400

@font-face 
  font-family "Lazer84"
  src url(/fonts/lazer84.woff2?#iefix) format("woff2"),
      url(/fonts/lazer84.woff) format("woff"),
      url(/fonts/lazer84.ttf) format("truetype")
  font-style normal
  font-weight 400

@font-face
  font-family "Mortal Kombat"
  src url(/fonts/MKXTitle.woff2?#iefix) format("woff2"),
      url(/fonts/MKXTitle.woff) format("woff"),
      url(/fonts/MKXTitle.ttf) format("truetype")
  font-style normal
  font-weight 400

@font-face 
  font-family "Pink Blue"
  src url(/fonts/pink_blue.woff2?#iefix) format("woff2"),
      url(/fonts/pink_blue.woff) format("woff"),
      url(/fonts/pink_blue.ttf) format("truetype")
  font-style normal
  font-weight 400

@font-face 
  font-family "Street Gathering"
  src url(/fonts/street_gathering.woff2?#iefix) format("woff2"),
      url(/fonts/street_gathering.woff) format("woff"),
      url(/fonts/street_gathering.ttf) format("truetype")
  font-style normal
  font-weight 400

@font-face 
  font-family "Zazinger"
  src url(/fonts/zazinger.woff2?#iefix) format("woff2"),
      url(/fonts/zazinger.woff) format("woff"),
      url(/fonts/zazinger.ttf) format("truetype")
  font-style normal
  font-weight 400
