.Card
  &, &__Inner
    position relative
    
    width 320px

  padding 50px 0

  height 600px

  color #0f0f0f

  filter drop-shadow(4px 4px 4px)

  &__Inner
    height 500px

    transform-origin 50% 50% 1px
    transition transform 0.5s

    transform-style preserve-3d

    // perspective 1000

    transform rotateY(0deg)

    &--Flipped
      transform rotateY(180deg)

  & &__Face
    position absolute
    top 0
    left 0

    backface-visibility hidden

    &:first-child
      transform translateZ(0)

    &:last-child
      transform translateZ(2px) rotateY(180deg)

  &__Flip
    position absolute
    right 44px
    bottom 7px
    left 44px

    display flex

    align-items center
    justify-content center

    height 36px

    background-color #1f1f1f

    border 1px solid #efefef
    border-radius 14px

    opacity 0
    visibility hidden

    transition opacity 0.3333s, visibility 0s 0.3333s

    cursor pointer

    &:hover
      .Card__FlipIcon
        transform rotateZ(-20deg)

  &__FlipIcon
    display block

    flex 0 0 auto

    color #efefef

    transform-origin 50% 50%
    transition transform 0.3333s ease-in-out

  &:hover &__Flip
    &--Expanded
      opacity 1
      visibility visible

      transition opacity 0.3333s, visibility 0s
