.CardName
  .Notes &
    margin-bottom 0

.CardNotesContainer
  display flex

  flex 1 0 auto

  flex-direction column

  .CardNotesSeparators
    position absolute

    top 0
    right 0
    bottom 0
    left 0

    flex 1 0 auto

    .CardTraits
      position absolute
      bottom 0
      left 0

      margin 0 72px

      width 160px
      height 26px

      border-top 1px solid currentColor

  .CardNotes
    display flex

    flex 1 0 auto

    flex-direction column

  .CardNote
    display flex

    flex-direction column
    flex 1 0 auto

    padding 0 16px

    width 100%

  .CardNoteName
    display flex

    align-items center
    justify-content center
    flex 0 0 auto

    height 38px

    font-size 21px
    line-height 22px

  .CardNoteDesc
    flex 1 0 auto

    font-family Calibri, Arial, Helvetica, sans-serif
    font-size 16px

    text-align justify
    text-align-last center

  .CardTraits
    display flex

    flex 0 0 26px

    align-items center 
    justify-content center

    height 26px
