.BattleStage
  position relative

  display flex

  align-items center
  flex-direction column
  flex 1 0 auto
  
  width 100%
  
  border-width 4px 0
  border-style solid
  border-color #ef8f1f

  &__Heading
    margin 0
    padding-top 14px

  &__BackgroundWrap
    position absolute
    
    top 0
    right 0
    bottom 0
    left 0

    overflow hidden

  &__Background
    display block
    
    width 100%
    height 100%

    background-position 50% 50%
    background-repeat no-repeat
    background-size cover

    filter blur(4px)

  &__Gradient
    position absolute
    
    top 0
    right 0
    bottom 0
    left 0
    
    background-image linear-gradient(to right, rgba(15, 15, 15, 1) 0%, rgba(15, 15, 15, 0) 25%, rgba(15, 15, 15, 0) 75%, rgba(15, 15, 15, 1) 100%)

