.CardName
  .DFactor &
    margin-bottom 0

.CardDFactorContainer, .CardDFactor
  display flex

  flex-direction column
  flex 1 0 auto

.CardDFactor
  padding 16px

.CardDFactorLead
  display flex

  align-items center
  justify-content center
  flex-direction column
  flex 0 0 auto

  height 160px

.CardDFactorHeading
  margin-bottom -2px

  font-family "Street Gathering", Arial, Helvetica, sans-serif
  font-size 56px
  line-height 1

  text-align center
  text-transform uppercase

.CardDFactorTitle
  font-size 24px
  line-height 1

  text-align center

.CardDFactorType
  margin-bottom 2px

  font-family "Street Gathering", Arial, Helvetica, sans-serif
  font-size 30px
  line-height 1

  letter-spacing 2px

  text-align center
  text-transform uppercase

.CardDFactorDesc
  flex 1 0 auto

  font-family Calibri, Arial, Helvetica, sans-serif
  font-size 20px

  text-align justify
  text-align-last center
