.CardSet
  position relative

  flex 1 1 auto

  width 100%
  height 600px

  overflow hidden

  z-index 10

  transition flex 0.6667s

  &--Expanded
    flex 1 0 auto

  &__Placer, &__Toggle
    position absolute
    top 0
    left 0

  &__Placer
    transition transform 0.6667s

  & &__Placer, &--Left &__Placer,
  & &__Toggle, &--Left &__Toggle
    right auto
    left 0

  &--Right &__Placer,
  &--Right &__Toggle
    right 0
    left auto

  &__Toggle
    bottom 0

    display flex

    padding 94px 7px

    width 320px

    opacity 0

    transition width 0.6667s, opacity 0.3333s, transform 0.6667s

    cursor pointer

    &--Expanded
      width 50px

    &--Hover
      opacity 1

  & &__Toggle, &--Left &__Toggle
    justify-content flex-end

  &--Right &__Toggle
    justify-content flex-start

  &__ToggleInner
    display flex

    align-items center
    justify-content center

    flex 0 0 auto

    width 36px
  
    background-color #1f1f1f

    border-radius 14px

    color #0f0f0f

    filter drop-shadow(4px 4px 4px)
  
  &__ToggleIcon
    color #efefef

    transition transform 0.6667s
  
  &__Toggle--Expanded &__ToggleIcon
    transform scale(-1, 1)
