.CardSet
  position relative

  display flex

  align-items center
  flex 1 1 100%

  transition flex 0.6667s ease-in-out
  
  &--NotExpanded
    flex 0 1 0

  &__Inner
    position relative

    flex 1 1 auto

    height 600px

    overflow-x auto
    overflow-y hidden

    z-index 10

  &__Placer, &__Toggle
    position absolute
    top 0
    left 0

  &__Placer
    transition transform 0.6667s ease-in-out

  & &__Placer, &--Left &__Placer,
  & &__Toggle, &--Left &__Toggle
    right auto
    left 0

  &--Right &__Placer,
  &--Right &__Toggle
    right 0
    left auto

  &__Toggle
    height 600px

    display flex

    padding 94px 7px

    width 320px

    opacity 0
    visibility hidden

    transition width 0.6667s ease-in-out, opacity 0.3333s ease-in-out, visibility 0s 0.3333s ease-in-out, transform 0.6667s ease-in-out

    cursor pointer

    &--Expanded
      width 50px

    &--Hover
      opacity 1
      visibility visible

      transition width 0.6667s ease-in-out, opacity 0.3333s ease-in-out, visibility 0s ease-in-out, transform 0.6667s ease-in-out

  & &__Toggle, &--Left &__Toggle
    justify-content flex-end

  &--Right &__Toggle
    justify-content flex-start

  &__ToggleInner
    display flex

    align-items center
    justify-content center

    flex 0 0 auto

    width 36px
  
    background-color #1f1f1f

    border 1px solid #efefef
    border-radius 14px

    color #0f0f0f

    filter drop-shadow(4px 4px 4px)
  
  &__ToggleIcon
    color #efefef

    transition transform 0.6667s ease-in-out
  
  &__Toggle--Expanded &__ToggleIcon
    transform scale(-1, 1)
