@import "../../stylus/main.styl"

a
  color inherit
  
  text-decoration none
  
  &:hover
    color inherit



.AppContainer
  position relative
  
  display flex
  
  flex-direction column
  
  width 100%
  height 100%
  
  background-color #0f0f0f
  
  color #efefef
  
  font-family "Pink Blue", Arial, Helvetica, sans-serif
  font-size 14px
  font-weight 400
  
  overflow-y auto

.AppBody
  display flex
  
  flex 1 0 auto
  flex-direction row



.AppContent
  display flex
  
  flex 1 1 auto
  flex-direction column
  


t_shadows(blur_r, num)
  buf = "0 0 " + blur_r + "px #0f0f0f"
  for $i in 1..num - 1
    buf += ", 0 0 " + blur_r + "px #0f0f0f"
  unquote(buf)

.heading
  position relative
  
  margin-bottom -93px

  padding 0
  
  color #ef8f1f
  
  font-family "Seven Eleven Serif", "Mortal Kombat X", Arial, Helvetica, sans-serif
  font-size 128px

  line-height 1.25
  
  letter-spacing 15px
  
  text-align center
  
  text-shadow t_shadows(4, 16)
  
  z-index 1
    


.Username
  padding 0 8px
  
.Avatar
  box-sizing content-box

  padding 0 8px
  
  height 48px
  width 48px



.AppInnerWrap
  display flex
  
  flex 1 0 auto
  
  flex-direction column

  padding 48px
  
  align-items center
  justify-content center
