.NavMenuItem
  display flex
  
  flex-direction column

  padding-top 8px
  
  &:first-child
    padding-top 0
  
  &--Sub
    padding-top 0
    
    height 0
    
    opacity 0

    line-height 0
    
    overflow hidden
    
    transition height 0.3333s, opacity 0.3333s, padding-top 0.3333s, line-height 0.3333s
    
  &--Open
    &, &:first-child
      padding-top 4px
    
    height 52px
    
    opacity 1

    line-height 1
