.CardArt
  position absolute
  top 8px
  right 8px
  bottom 8px
  left 8px

  width 304px
  height 484px

  background-color #0f0f0f
  background-position 50% 38px
  background-size auto 240px
  background-repeat no-repeat

  border-radius 72px

  overflow hidden
