@import "../../stylus/main.styl"

.App
  position relative

  display flex
  flex-direction column

  width 100%
  height 100%

  background-color #0f0f0f

  color #efefef

  font-family "Pink Blue", Arial, Helvetica, sans-serif
  font-size 14px
  font-weight 400

  overflow-y auto

  &__Body
    display flex

    flex-direction row
    flex 1 0 auto

  &__Content
    display flex

    flex-direction column
    flex 1 1 auto

  &__ContentInner
    display flex

    align-items center
    justify-content center
    flex-direction column
    flex 1 0 auto

    padding 48px
