.Battle
  position relative

  display flex

  flex 1 0 auto

  align-items center

  width 100%


  
.HomeButtons
  position relative

  display flex
  
  margin 8px -8px 0
  
  .NavButtonWrap
    padding 8px

  .NavLink
    width 344px




